<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'>
  <link rel="stylesheet" href="/stylesheets/style-index.css">
	<style>
		<% if(!currentUser) { %>
			@media (max-width: 244px) {
				.fixed-top {
					margin-top: 30px;
				}

				.articles {
					margin-bottom: 10px;
					margin-right: 0;
				}

				.btn {
					display: block;
					margin-right: auto;
					margin-left: auto;
					width: 85%;
					position: static;
					margin-top: 0;
				}
			}
		<% } else { %>
			.articles {
				margin-right: 146px;
			}
			@media (max-width: 259px) {
				.fixed-top {
					margin-top: 30px;
				}

				.articles {
					margin-bottom: 10px;
					margin-right: 0;
				}

				.btn {
					display: block;
					margin-right: auto;
					margin-left: auto;
					width: 85%;
					position: static;
					margin-top: 0;
				}
			}
		<% } %>
	</style>
</head>
<body>
  <div class="container-fluid main-screen">
    <div class="title-container">
		<% if(docInfo) { %>
			<h2 class="title" onclick="location.href = '/viewArticle/<%= docInfo.id%>'"><%= docInfo.title%></h2>
			<h6 class="author" onclick="location.href = '/articles/<%= docInfo.author%>'"><%= docInfo.author%></h6>
			<p class="subtitle" onclick="location.href = '/viewArticle/<%= docInfo.id%>'"><%= docInfo.subtitle%></p>
		<% } else { %>
			<h2 class="title">없음</h2>
			<h6 class="author">없음</h6>
			<p class="subtitle">없음</p>
		<% } %>
    </div>
    <div class="fixed-top">
        <button type="button" class="btn btn-primary articles" onclick="location.href='/articles/all'">글 목록</button>
        <% if(!currentUser) { %>
          <button type="button" class="btn btn-primary sign" onclick="location.href='/login'">로그인</button>
        <% } else { %>
          <form action="logout" method="post">
            <button type="submit" class="btn btn-primary sign">로그아웃</button>
          </form>
        <% } %>
    </div>
  </div>
	<script>
		/*function titleContainerResizing() {
			var htmlFluidWidth = document.querySelector("html").offsetWidth;
			var titleContainerFluidWidth = document.querySelector(".title-container").offsetWidth;
			console.log("asd");
			if (htmlFluidWidth - (50 + titleContainerFluidWidth) < 50) {
				document.querySelector(".title-container").classList.add("small-title-container");
			} else {
				document.querySelector(".title-container").classList.remove("small-title-container");
			}
		}*/
		
		window.addEventListener("load", () => {
	        	if((document.querySelector("html").offsetWidth - (50 + document.querySelector(".title-container").offsetWidth)) > 50) {
				document.querySelector(".title-container").classList.remove("small-title-container");
			} else {
				document.querySelector(".title-container").classList.add("small-title-container");
			}
		});
		window.addEventListener("resize", () => {
			if((document.querySelector("html").offsetWidth - (50 + document.querySelector(".title-container").offsetWidth)) > 50) {
				document.querySelector(".title-container").classList.remove("small-title-container");
			} else {
				document.querySelector(".title-container").classList.add("small-title-container");
			}
		});
		
	</script>
  <script src="/javascripts/jquery-3.4.0.slim.min.js" charset="utf-8"></script>
  <script src="/javascripts/popper.min.js" charset="utf-8"></script>
  <script src="/javascripts/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
